<p id="notice"><%= notice %></p>


<h1><%= @user.firstname %> <%= @user.lastname %></h1>
<h2><%= @user.email %></h2>
<h3>Member since <%= @user.created_at.strftime('%b %d, 20%y') %></h3>

<% @posts.each_with_index do |post, index| %>
  <% if post.user_id == @user.id %>
    <h2><%= post.title %></h2>
    <p>Created on <%= post.created_at.strftime('%b %d') %></p>
    <p><%= post.text %></p>
    <% comments = post.comments %>
    <% comments.each_with_index do |comment, index| %>
      <% if comment.post_id == post.id %>
        <% puts "\n======= COMMENT INSPECT =======" %>
        <% puts "comment.inspect: #{comment.inspect}" %>
        <p><%= comment.content %></p>
        <% @users.each do |user|%>
          <% if user.id == comment.user_id %>
            <p>By <%= user.firstname %> <%= user.lastname %> on <%= comment.created_at.strftime('%b %d') %></p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= form_for([@user, @comment]) do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
          <ul>
          <% comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div><%= label :content, "content" %><%= f.text_field :content %></div>
      <input type="hidden" name="comment[user_id]" value="<%= @user.id %>">
      <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
      <%= f.submit %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
