<%= puts "USER===== #{@user.inspect}" %>
<%= puts "POST===== #{@post.inspect}" %>

<%= form_for([@user, @post]) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= label :title, "title" %><%= f.text_field :title %></div>
  <div>
    <%= label :text, "content" %>
    <%= f.text_area(:text, size: '50x10') %>
  </div>
  <input type="hidden" name="post[user_id]" value="<%= @user.id %>">
  <%= f.submit %>
<% end %>
