<p id="notice"><%= notice %></p>

<h1>Blog Feed</h1>

<% @users.each_with_index do |user, index| %>
  <% posts = user.posts %>
  <% posts.order("comments.created_at desc") %>
  <% posts.each_with_index do |post, index| %>
    <%# puts "\n======= POST INSPECT =======" %>
    <%# puts "post.inspect: #{post.inspect}" %>
    <h2><%= post.title %></h2>
    <p>By <%= link_to user.firstname + " "+ user.lastname, user_path(user) %> on <%= post.created_at.strftime('%b %d') %></p>
    <p><%= post.text %></p>


    <% comments = post.comments %>
    <% comments.each_with_index do |comment, index| %>
      <% if comment.post_id == post.id %>
        <%# puts "\n======= COMMENT INSPECT =======" %>
        <%# puts "comment.inspect: #{comment.inspect}" %>
        <p><%= comment.content %></p>
        <% @users.each do |user|%>
          <% if user.id == comment.user_id %>
            <p>By <%= user.firstname %> <%= user.lastname %> on <%= comment.created_at.strftime('%b %d') %></p>
          <% end %>
        <% end %>

      <% end %>
    <% end %>

    <%= form_for([@user, @comment]) do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
          <ul>
          <% comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div><%= label :content, "content" %><%= f.text_field :content %></div>
      <input type="hidden" name="comment[user_id]" value="<%= @user.id %>">
      <input type="hidden" name="comment[post_id]" value="<%= post.id %>">
      <%= f.submit %>
    <% end %>

  <% end %>
<% end %>
